.zs-patients {
    background: #659dbd;
    min-height: calc(100vh - 120px);
}

.zs-card {
    background: #eeeeeeff;
    height: 80vh;
}

.zs-pcard {
    height: 50vh
}

.zs-select {
    height: 30px
}

.zs-modal-head {
    background: #659dbd;
}