:root {
    --patients: #659dbd;
    --clients: #995fa3;
    --appointments: #fecee9;
}

.zs-patients {
    background: var(--patients);
    height: 100vh;
}

.zs-clients {
    background: var(--clients)
}