.zs-sales {
    background: #493657ff;
    min-height: calc(100vh - 120px);
}

.zs-sales-card {
    background: #eeeeeeff;
    height: 80vh
}

.zs-product-list {
    min-height: 35vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}