.zs-clients {
    background: #995fa3;
    min-height: calc(100vh - 120px);
}

.zs-client-card {
    background: #eeeeeeff;
    height: 80vh
}

.zs-ctable {
    height: 50vh;
}

ul {
    list-style-type: none;
}

.zs-modal-client {
    background: #995fa3;
}